= form_with url: votes_path(votable_id: votable.id, votable: votable.class.name, status: status),
        data: { type: :json }, class: "new-vote vote-#{status == 1 ? 'up' : 'down'}", local: false do |f|
  = f.submit "vote #{status == 1 ? 'up' : 'down'}", disabled: disabled ||= false
